<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<style>
    body {
        font-family: "Inter";
    }

    div > p:nth-child(2) {
        margin-top: 0;
    }

    div > p:last-child {
        margin-bottom: 0;
    }
</style>

<script>
function pickFrom(arr) {
    return arr[Math.floor(Math.random() * arr.length)]
} 

const origins = {
    "CARBON": `Grown in space-based exowombs. Short life spans. Live their lives offworld and are untroubled by the darkness of space. More comfortable in an EVA suit than out of one.

- **ENGINEERED LUNGS.** Use half oxygen compared to everyone else (one step for every two normal steps).
- **GEARHEAD.** Repair twice as fast.`,

    "CHROME": `Ancient AI placed in a body vessel of organic material. Part machine, but with an organic CPU and a distributed neural system that requires oxygen.

- **NATIVE MACHINE.** You can converse with computers as if they were real people. Plug in and find a friend.
- **BODY BATTERY.** You can use your body to power one small electrical device, such as a hand-held item.`,

    "PUNK": `Rebellious and nonconformist with a long history. They have seen civilizations collapse, and others turn against each other.

- **STUBBORN.** You never give up. Reroll any dice roll once per session.
- **GREEN THUMB.** You know everything about plants and what to use them for. You start with a pocket greenhouse and some random seeds.`,

    "SOLPOD": `Hibernating for decades, only staying awake for short periods. They dedicate their lives to the scientific study of slow, cosmic phenomena.

- **LONG-LIVED.** You have an old and useful contact in every port.
- **OLD TECH.** You have a portable hibernation pod. Regenerates lost limbs, prevents aging and the need to eat. Powered by starlight.`,

    "VELOCITY CURSED": `Ill-fated ones that have started to lose their connection to reality. They shift and flicker in and out of spacetime with glitching faces.

- **FUTURE MEMORY.** You have already been here. Once per session, ask the referee for directions.
- **POCKET WORLD.** You start with a portable non-phys server, housing a virtual reality where you store memories to connect the past and future of your life. Up to ten users can connect simultaneously.`,

    "VOID": `Robed nihility shamans, hidden behind masks, speaking through synthetic voice scramblers. They have seen visions of the edge of the universe.

- **VOICE OF THE VOID.** You can make nearby electronics emit static and crackling whispers.
- **MASKED.** You have a mask that you can reshape during rest into the resemblance of another face or mask. At a distance, it fools most.`
};
const origin_keys = Object.keys(origins)

const background = [
    "Moon outlaw",
    "Monolith cultist",
    "Event horizon diver",
    "Technomant",
    "Astrochemist",
    "Interstellar soldier",
    "Orbit vagabond",
    "Gravity swindler",
    "Intergalactic traveler",
    "Legionnaire",
    "Freight tracer",
    "Asteroid driller",
    "Isotope coder",
    "Station marshal",
    "Static noise translator",
    "Asteroid archaeologist",
    "Tow trucker",
    "Star salvager",
    "Bounty hunter",
    "Deep field welder"
];

const traits = [
    "Polite",
    "Optimist",
    "Cynical",
    "Eccentric",
    "Hypochondriac",
    "Honest",
    "Proud",
    "Relentless",
    "Perfectionist",
    "Dishonest",
    "Remorseful",
    "Nearsighted",
    "Creepy",
    "Lazy",
    "Inventive",
    "Rough",
    "Hard-boiled",
    "Savage",
    "Passionate",
    "Too old for this shit"
];

const drive = [
    "A place",
    "A person",
    "A strange cult",
    "Heritage",
    "An event",
    "Friends",
    "An object",
    "A strange drug",
    "Technology",
    () => {
        return `Secret about: ${pickFrom([
            "space",
            "friends",
            "the end",
            "your background",
            "your parents",
            "a murder"
        ])}`
    },
    "Free will",
    "To always be right",
    "To never show weakness",
    () => {
        return `To never look: ${pickFrom([
            "poor",
            "rich"
        ])}`
    },
    "To never be alone",
    "To find purpose",
    "Harmony",
    "Anonymity",
    "To never lose",
    "Neutrality"
];

const look = [
    "Flamboyant robes in reflective materials",
    "Torn, old space dock jacket",
    "Foreign, realistic tattoos",
    "Filthy, dark makeup",
    "Undersized hologlasses",
    "Perfectly weathered clothes",
    "Botany patches on arms and back saying 'I love plants'",
    "Fashionable interstellar clothes",
    "Too clean civilian clothes",
    "Bags and pockets everywhere for everything but never anything important in them",
    "Layers of black fabric, wrapped loosely",
    "Robotic hands/arms",
    "1d6 bullet scars, 1d4 scars from slashing weapons, 1d4 metal fragments",
    "Asymmetric, patterned hood",
    "Antique space gloves",
    "Hazard pants",
    "Trucker cap with patch",
    "Necklace with odd animal skulls",
    "Decorated cape",
    "Suit with holographic patterns"
];

const pastAllegiance = {
    "IDEA": "You held some value—faith, science or something else—higher than war and strife. You made compromises but kept away from fighting.",
    "FAMILY": "You stayed with family and kin, defending your turf with tooth and claw.",
    "WINNING": "You happened to side with the winners, but in the end, did you really win?",
    "LOSING": "Working for the losing side, death followed in your steps. You survived, but at great cost.",
    "CONTRACT": "As an opportunist, you swore allegiance to those who paid best.",
    "NONE": "You sided only with yourself and avoided the war as well as you could."
};

const packTypeContent = {
    "PROSPECTOR": "Handheld material analyzer, magnetic boots, breathing mask (1d6 minutes air per use), container with engine grease",
    "RING THUG": "Distillery kit, lockpicks, holographic playing cards, 1d4 doses of unknown substances mixed in a bag",
    "MERCENARY": "Uniform, planetary parachute, proximity alarm (needs batteries), flashlight model P78C",
    "NOMAD": "Liquid purifier (removes contaminants), hover hammock, box of spices, pack of incense sticks, rechargeable battery with compact solar panel",
    "ENGINEER": "Electric multi-tool, duct tape, tablet computer (plug in for network access), fusion welder, workwear",
    "EXPLORER": "Emergency food rations (1 week), light EVA suit, 5 military grade light sticks, tent for extreme weather"
};

const personalTrinket = [
    "Tool with personal inscriptions",
    "Cartridge with AI from a dead pet",
    "Embroidered patch from a famous organization",
    "Memory disk with a loved one’s memories on it",
    "Weatherproof notebook filled with strange writing and symbols",
    "Notebook with names of people that have treated you badly",
    "A bag of metal pieces called coins",
    "Small toy figurine depicting yourself",
    "Shades, dirty and scratched after an old job",
    "A letter from someone you love",
    "Glove from a stolen prototype space suit",
    "Ancient necklace inscribed with the letters 'USB'",
    "Music box from your childhood with a holographic swirling galaxy",
    "A laser disc with your favorite music",
    "Two glowing wedding rings",
    "Digital travel brochure for exotic locations with a cracked speaker playing commercial messages",
    "Ancient synthesizer shaped like a gun",
    "Holographic image of someone you lost",
    "Belt buckle with hidden star compass. Only works sometimes, you don’t know why",
    "DNA birth certificate circuit"
];

const abilities = {
    "CODE GENERATOR": "Part of the brain converts to a computer that can be activated to create programs, transferred via skin contact. They have the player character's DNA encoded in them.",
    "TELEKINESIS": "Can lift, move, pull and generally alter the direction and speed of an object, using the mind. Up to the size of a hand-held object. Lasts one minute.",
    "TELEPATHY": "Can put a single word or feeling in another person’s mind.",
    "VACUUM GILLS": "No need to breathe.",
    "VOID CLOUD": "Can create a human-sized spherical cloud around a person or object. All sound and light is stopped within the cloud.",
    "CRYSTAL MEMBRANE": "Light bends around the player character, who becomes invisible while standing still without clothes. Only those actively searching will notice the player character when they move.",
    "TECH TALKER": "Can communicate with electronics and give one simple order, for example 'open', 'turn off' or 'change direction'.",
    "MAGNETIC": "Magnetic blisters form on hands and feet. The magnetic force is strong enough for climbing on walls and ceilings.",
    "AUGMENTED PERCEPTION": "Vision becomes sensitive to the full electromagnetic spectrum, including infrared heat emission and x-ray frequencies. Also allows for seeing through solid materials. Effect lasts a short moment.",
    "SYMBIOTIC": "Can take over a small animal in sight, by sending whispered commands through the void. Allows you to control its movements, sense what it senses, and feel what it feels.",
    "LINKED": "Can touch an object and create a connection to it. Can feel the rough direction and distance to the object for one week.",
    "APAC BRIDGE": "Creates a portal between current location and the location of a recent memory, up to a week back. Lasts long enough for 1d4 persons to pass through.",
    "THERMAL CONDUIT": "Can make the body withstand extreme temperatures, or create a small region of extreme temperature in the palm of the hand.",
    "TRANSCEIVER": "Can transmit and receive radio messages, and eavesdrop on others. The range depends on the amount of interfering material, from 50 meters inside a station up to kilometers in open space. Lasts until concentration is dropped.",
    "TWO HEARTS": "Can run, climb, jump, and lift twice as much as usual.",
    "BOOSTED METABOLISM": "Can eat anything from blood to batteries, and convert it to nutrition and energy. One kilogram of matter heals 1d4 hit points.",
    "VIBRATION DAMPER SKIN": "The skin starts to shimmer. During the effect, slow moving, sharp objects, like knives, fists, and spears, are stopped completely. Fast projectiles can penetrate the protection. Lasts one minute.",
    "COSMIC SOMATOSENSORY SYSTEM": "Can touch something and get a word, picture, or feeling of what has happened to the object recently.",
    "FEEDBACK LOOP": "Can jump back ten seconds in time, at the cost of losing one important memory, chosen by the player.",
    "BLACK HOLE MONSTER": "Can create a portal and from it lure a creature. Roll a random creature and roll for reaction with a –2 modifier."
};

const char = {
    stats: {
        bdy: dice.roll('1d4').total - dice.roll('1d4').total,
        dex: dice.roll('1d4').total - dice.roll('1d4').total,
        svy: dice.roll('1d4').total - dice.roll('1d4').total,
        tec: dice.roll('1d4').total - dice.roll('1d4').total
    },
    hp: dice.roll('1d8').total,
    origin: pickFrom(origin_keys),
    background: pickFrom(background),
    trait: pickFrom(traits),
    drive: pickFrom(drive),
    look: pickFrom(look),
    pastAllegiance: pickFrom(Object.keys(pastAllegiance)),
    startKit: pickFrom(Object.keys(packTypeContent)),
    trinket: pickFrom(personalTrinket),
    extraEquip: '',
    extra: '',
    ability: null,
    holos: dice.roll('3d10').total
}

if (char.stats.bdy + char.stats.dex + char.stats.svy + char.stats.tec < 0) {
    pickFrom([
        () => {
            char.ability = pickFrom(Object.keys(abilities));
        },
        () => {
            char.hp += 3;
        },
        () => {
            char.extraEquip = 'A heavy EVA suit'
        },
        () => {
            char.extraEquip = 'A pistol'
        },
        () => {
            char.extra = 'An AI guard animal DR 13, 1d4 HP, bite (1d6).'
        },
        () => {
            char.extra = 'An old crew member (0 in all abilities, DR 12, 1d6 HP). You have always been close.'
        },
    ])()
}

if (typeof char.drive === 'function') {
    char.drive = char.drive();
}

</script>

<div class="w-100 bg-black white tc pa2 f1 flex justify-between items-center">
    <div>⸸⸸⸸</div>
    <div class="flex flex-column">
        <span>DEATH IN SPACE</span>
        <span class="ttu f4 b i tracked">Character</span>
    </div>
    <div>⸸⸸⸸</div>
</div>

<div class="ba bw2 b--dashed mt3 f3 flex items-center justify-center" style="border-bottom: none;">
    <pre id="face"></pre>
</div>

<div class="ba bw2 pa3">
    NAME
</div>

<div class="ba bw2 b--dashed mt3">
    <div class="flex justify-center">
        <div class="pa3 ph2 f2 flex items-center">
            <span class="b"><script> document.write(char.stats.bdy)</script></span>
            <div class="f3 b ml3">⸸ BDY</div>
        </div>
        <div class="pa3 ph2 f2 flex items-center">
            <span class="b"><script> document.write(char.stats.dex)</script></span>
            <div class="f3 b ml3">⸸ DEX</div>
        </div>
        <div class="pa3 ph2 f2 flex items-center">
            <span class="b"><script> document.write(char.stats.svy)</script></span>
            <div class="f3 b ml3">⸸ SVY</div>
        </div>
        <div class="pa3 ph2 f2 flex items-center">
            <span class="b"><script> document.write(char.stats.tec)</script></span>
            <div class="f3 b ml3">⸸ TEC</div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="ph3 pb3 f2 flex items-center">
            <div class="pa3 ph4 ba bw2 mr2"></div>
            <div class="mr2 f4 b">OF</div>
            <span class="b"><script> document.write(char.hp)</script></span>
            <div class="f3 b ml3">| HP</div>
        </div>
        <div class="ph3 pb3 f2 flex items-center">
            <div class="pa3 ph4 ba bw2 mr2"></div>
            <div class="mr2 f4 b">OR</div>
            <span class="b"><script> document.write(12 + char.stats.dex)</script></span>
            <div class="f3 b ml3">| DR</div>
        </div>
    </div>
</div>

<div class="ba bw2 mt3 pa3 b--dashed">
    <div class="mb3">
        <div class="b bg-black white pa2 f3 mt2">
            YOU
        </div>
    </div>
    <div class="lh-copy f4">
        You are a <span class="b"><script> document.write(char.background)</script></span>,
        you are <span class="b"><script> document.write(char.trait)</script></span>
        and your drive is <span class="b"><script> document.write(char.drive)</script></span>.
        Your look is described as:  <span class="b"><script> document.write(char.look)</script></span>.

        <br><br>

        Your past allegiance <span class="b"><script> document.write(char.pastAllegiance)</script></span>: 
        <script> document.write(pastAllegiance[char.pastAllegiance])</script>
    </div>
</div>

<div class="ba bw2 mt3 pa3 b--dashed">
    <div class="mb3">
        <div class="b bg-black white pa2 f3 mt2">
            <script> document.write(char.origin)</script>
        </div>
    </div>
    <div class="lh-copy f4">
        <script> document.write( marked.parse(origins[char.origin]))</script>
    </div>
</div>

<div class="ba bw2 mt3 pa3 b--dashed">
    <div class="mb3">
        <div class="b bg-black white pa2 f3 mt2">
            EQUIPMENT & EXTRAS
        </div>
    </div>
    <div class="lh-copy f4">
        <div class="mb2 flex">
            <div class="mr3">
                <span class="b">ITEM SLOTS:</span> <script> document.write(12 + char.stats.bdy)</script>
            </div>
            <div>
                <span class="b">$ HOLOS:</span> <script> document.write(char.holos)</script>
            </div>
        </div>

        <div class="mb2">
            <span class="b"><script> document.write(char.startKit)</script></span>:
            <script> document.write(packTypeContent[char.startKit])</script>
        </div>

        <span class="b">PERSONAL TRINKET:</span> <script> document.write(char.trinket)</script>

        <script> if (char.extraEquip.length > 0) { document.write(`<div class="mt2"><span class="b">STARTING BONUS</span>: ${char.extraEquip}</div>`) } </script>

        <script> if (char.extra.length > 0) { document.write(`<div class="mt2"><span class="b">EXTRA</span>: ${char.extra}</div>`) } </script>

        <script> if (char.ability) { document.write(`<div class="mt2"><span class="b">${char.ability}</span>: ${abilities[char.ability]}</div>`) } </script>
    </div>
</div>

<script>

const faceDataUrl = new Array(6).fill(0).map((_, i) => `/proxy/https://raw.githubusercontent.com/BigJk/end_of_eden/main/assets/gen/faces/Face${i+1}.txt`)
const faces = [
    {},{},{},{},{},{},
];

let faceDone = 0;
faceDataUrl.forEach((url, fi) => {
    fetch(url).then(res => res.text()).then(text => {
        text.split('\n').forEach(l => {
            const id = l.substr(0, l.indexOf('.'))
            const line = l.substr(l.indexOf('.') + 2)

            if (!faces[fi][id]) { faces[fi][id] = [] }
            faces[fi][id].push(line)
        })

        faceDone++;
        if (faceDone === 6) {
            document.getElementById('face').innerHTML = `${pickFrom(faces[0]['1'])}
${pickFrom(faces[1]['1'])}
${pickFrom(faces[2]['1'])}
${pickFrom(faces[3]['1'])}
${pickFrom(faces[4]['1'])}
${pickFrom(faces[5]['1'])}`
        }
    })
})

</script>
